
/* шрифты */
@import url('fonts.css');


.body {
    margin: auto;    
    width: 1020px;
    font-family: 'Lato-Regular', 'Arial', sans-serif;
    font-size: 16px;
    background-color: #ffffff; 
}


/* nav */

.navigation {
    height: 63px; 
    background-color: #323232;   
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;   
    box-sizing: border-box;
    padding-top: 10px; 
}

.navigation::after {
    content: '';
    width: 0;
	height: 0;
	border-left: 45px solid transparent;
	border-right: 45px solid transparent;
    border-top: 26px solid #323232;
    position: absolute;
    left: 50%;
    top: 63px;
    transform: translateX(-50%);
    
}

.left-menu, .right-menu {
    width: 180px;
    display: flex; 
    
}

.left-menu {    
    justify-content: flex-end;
}

.right-menu {    
    justify-content: flex-start;
}

.left-menu a {
    margin-right: 25px;
}

.right-menu a {
    margin-left: 25px;
}

.navigation a {
    font-family: 'Lato-Bold', 'Arial', sans-serif;;
    font-size: 10px;
    color: rgb(255, 255, 255);    
    text-decoration: none;
    position: relative;
}

a.item {
    color: rgb(46, 179, 152);
}

.triangle {    
    width: 90px;
    display: flex;
    justify-content: center;    
}

.navigation a:first-child::after {
    content: '';
    width: 2px;
    height: 2px;
    background-color: white;
    position: absolute;
    top: 5px;
    right: -13px;
    pointer-events: none;
}



/* hex */

.hexagon-cotainer {     
    height: 721px;    
    outline: 1px solid black;
    box-sizing: border-box;
    padding-top: 90px;
}

.hexagon {
    width: 180px;
    height: 210px;    
    margin: 10px;
    transform: rotate(-60deg);
    overflow: hidden;
    visibility: hidden;
    display: inline-block;
    /* transition: transform 1s ease-in; */
}

.hex-layer-1 {
    visibility: hidden;
    width: 100%;
    height: 100%;
    transform: rotate(-60deg);
    overflow: hidden;
}

.hex-layer-2 {
    width: 100%;
    height: 100%;
    background: #cccc;
    transform: rotate(120deg);
    overflow: hidden;
    visibility: visible;
    background-image: url('../assets/images/Portfolio/Layer33.png');
    background-repeat: no-repeat;
    background-position: 50%;
}

/* .hexagon:hover {
    transform: rotate(-240deg);
    transition: transform 1s ease-in;
} */

/* .row-translate .hexagon {    
    position: relative;
    top: -55px;
    left: 96px;
} */

.row-native:first-child {   
    margin-left: 10px;
}



.row-native:not(:first-child) {   
    margin-top: -110px;
}




/* section info */

.info {
    height: 341px;
    background-color: pink; 
}

.subtitle span {
    width: 50px;
    margin: 10px;
    padding: 0 20px 0 40px;
    border: 1px solid red;
    background: url('../assets/images/cat.jpg') no-repeat;
    display: inline-block;
    overflow: hidden;
    background: rgb(100, 100, 100, 0);
}

.subtitle span:hover {
    width: 60px;    
    background: url('../assets/images/cat.jpg') no-repeat;
    
}

.image {
    width: 200px;
    position: relative;
    left: 1px;
    top: 1px;
}


input:invalid {
    border: 2px solid red;
}


/* footer */

.contact-form {
    height: 564px;
    background-color: green; 
}

.button-submit {
    background: green;
}

.article {
    font-size: 2em;
}

.article .subtitle {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    color: red;    
}

.copyright {    
    height: 63px;
    background-color: burlywood; 
}