/* шрифты */
@import url("fonts.css");


.body {
  width: 1020px;
  margin: auto;

  font-size: 16px;
  font-family: "Lato-Regular", "Arial", sans-serif;

  background-color: #ffffff;
}


/* nav */

.navigation {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 63px;
  padding-top: 10px;

  background-color: #323232;
}

.navigation::after {
  content: "";
  position: absolute;
  top: 63px;
  left: 50%;

  width: 0;
  height: 0;

  border-top: 26px solid #323232;
  border-right: 45px solid transparent;
  border-left: 45px solid transparent;
  transform: translateX(-50%);
}

.left-menu,
.right-menu {
  display: flex;
  width: 180px;
}

.left-menu {
  justify-content: flex-end;
}

.right-menu {
  justify-content: flex-start;
}

.left-menu a {
  margin-right: 25px;
}

.right-menu a {
  margin-left: 25px;
}

.navigation a {
  position: relative;

  font-size: 10px;
  font-family: "Lato-Bold", "Arial", sans-serif;
  color: rgb(255, 255, 255);
  text-decoration: none;;
  letter-spacing: -0.02em;
}

.navigation a.current {
  color: rgb(46, 179, 152);
}

.triangle {
  display: flex;
  justify-content: center;
  width: 90px;
}

.navigation a:first-child::after {
  content: "";
  position: absolute;
  top: 5px;
  right: -13px;

  width: 2px;
  height: 2px;

  background-color: white;

  pointer-events: none;
}

.left-menu::after, .right-menu::after {
  content: "";
  position: absolute;
  background-color: #e4e9eb;
  width: 410px;
  height: 1px;
  bottom: -12px;  
}

.left-menu::after {  
  left: 30px;
}

.right-menu::after {  
  right: 30px;
}




/* hex */

.hexagon-cotainer {
  box-sizing: border-box;
  height: 721px;
  padding: 80px 11px 0;
  position: relative;
  outline: 1px solid black;
  /* display: flex;
  flex-wrap: wrap; */
}

.hexagon {
  display: inline-block;
  width: 180px;
  height: 210px;
  /* margin: 8.4px; */
  margin: 0.52em;
  margin-bottom: -53px;
  overflow: hidden;

  transform: rotate(-60deg);
  visibility: hidden;
  /* transition: transform 1s ease-in; */
}

/* .hexagon:nth-child(9n+1) {
  margin-left: 109px;
} */


.hex-layer-1 {
  width: 100%;
  height: 100%;
  overflow: hidden;

  transform: rotate(-60deg);
  visibility: hidden;
}

.hex-layer-2 {
  width: 100%;
  height: 100%;
  overflow: hidden;

  background: #cccc;
  transform: rotate(120deg);
  visibility: visible;
}

.sep-left {  
  display: inline-block;
  width: 1px;
  height: 104px;
  background-color: #e4e9eb;  
  margin: 0 9px 0 88px;  
}

.sep-right {  
  display: inline-block;
  width: 1px;
  height: 104px;
  background-color: #e4e9eb;  
  margin-left: 8px;
}

.slider {
  position: absolute;
  width: 51px;
  height: 6px;   
  bottom: 23px;
  left: 30px;
  display: flex;
  justify-content: space-between;
}

.slider a {
  display: inline-block;
  width: 6px;
  height: 6px;
  background-color: #ddd2c5; 
}

.slider a {
  display: inline-block;
  width: 6px;
  height: 6px;
  background-color: #ddd2c5; 
}

.slider a.current {  
  background-color: #8b8784; 
}

.hexagon-cotainer::after {
  content: "";
  position: absolute;
  background-color: #e4e9eb;  
  width: 960px;
  height: 1px;
  bottom: 12px; 
  left: 30px;
}

/* .hexagon:hover {
    transform: rotate(-240deg);
    transition: transform 1s ease-in;
} */

/* .row-translate .hexagon {    
    position: relative;
    top: -55px;
    left: 96px;
} */



/* section info */

.info {
  height: 341px;

  background-color: pink;
}

.subtitle span {
  display: inline-block;
  width: 50px;
  margin: 10px;
  padding: 0 20px 0 40px;
  overflow: hidden;

  background: url("../assets/images/cat.jpg") no-repeat;
  background: rgb(100, 100, 100, 0);
  border: 1px solid red;
}

.subtitle span:hover {
  width: 60px;

  background: url("../assets/images/cat.jpg") no-repeat;
}

.image {
  position: relative;
  top: 1px;
  left: 1px;

  width: 200px;
}


input:invalid {
  border: 2px solid red;
}


/* footer */

.contact-form {
  height: 564px;

  background-color: green;
}

.button-submit {
  background: green;
}

.article {
  font-size: 2em;
}

.article .subtitle {
  font-size: 2rem;
  font-family: "Courier New", Courier, monospace;
  color: red;
}

.copyright {
  height: 63px;

  background-color: burlywood;
}
